force-app/main/default/flows/Aumento_de_linea_de_credito.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviarDictamenContra</name>
        <label>enviarDictamenContra</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <stringValue>00152</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>messageContra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.ContactMobile</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>enviarDictamenFavor</name>
        <label>enviarDictamenFavor</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <stringValue>00152</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <stringValue>S</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>messageFavpr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.ContactMobile</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwners</name>
        <label>NotifyOwners</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>newOwnersIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Asignación de Caso: {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>newOwnersIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotifyOwners</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dictamen</name>
        <label>Dictamen</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_favor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dictamen_Fraudes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A Favor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origen_Campa_a__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incremento de Garantia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>enviarDictamenFavor</targetReference>
            </connector>
            <label>A favor</label>
        </rules>
        <rules>
            <name>En_contra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dictamen_Fraudes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Contra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origen_Campa_a__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incremento de Garantia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>enviarDictamenContra</targetReference>
            </connector>
            <label>En contra</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escala</name>
        <label>Escala</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aclaraciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Análisis de la Cuenta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origen_Campa_a__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incremento de Garantia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNotification</targetReference>
            </connector>
            <label>Aclaraciones</label>
        </rules>
        <rules>
            <name>ClosedCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dictamen</targetReference>
            </connector>
            <label>ClosedCase</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>messageContra</name>
        <dataType>String</dataType>
        <expression>&quot;o pudimos realizar un aumento a la linea de crédito de tu Tarjeta Falabella terminación &quot;+ {!$Record.TarjetaCaso4Digitos__c}+ &quot;, si tienes alguna duda contáctanos: bit.ly/4cjeswP&quot;</expression>
    </formulas>
    <formulas>
        <name>messageFavpr</name>
        <dataType>String</dataType>
        <expression>&quot;e ha realizado un aumento a la linea de crédito de tu Tarjeta Falabella terminación &quot; + {!$Record.TarjetaCaso4Digitos__c} + &quot;. Disfruta de todos los beneficios: bit.ly/3PdHByR&quot;</expression>
    </formulas>
    <formulas>
        <name>setClosedEstimatedDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} +5</expression>
    </formulas>
    <interviewLabel>Aumento de linea de credito {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aumento de linea de credito</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNotification</name>
        <label>getNotification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueAclaraciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asignacion_de_Caso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAclaraciones</name>
        <label>getQueueAclaraciones</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateaRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aclaraciones- Corto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateaRecord</name>
        <label>updateaRecord</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_estimada_de_cierre__c</field>
            <value>
                <elementReference>setClosedEstimatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getQueueAclaraciones.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Escala</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subcategor_a_Texto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aumento de Línea de Crédito</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newOwnersIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
