force-app/main/default/flows/Case_Router_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailAFavor</name>
        <label>SendEmailAFavor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SMSFavor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XRQ000005Cr0r2AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>SendEmailAFavor2</name>
        <label>SendEmailAFavor2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XRQ000005Cr0s2AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>SendEmailEnContra</name>
        <label>SendEmailEnContra</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SMSEnContra</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XRQ000005Cr0r2AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>SendEmailNoProcede</name>
        <label>SendEmailNoProcede</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SMSNoProcede</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XRQ000005Cr0r2AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>SMSEnContra</name>
        <label>SMSEnContra</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <stringValue>00152</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <elementReference>InicialSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>SMSDictamen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SMSFavor</name>
        <label>SMSFavor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <stringValue>00152</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <elementReference>InicialSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>SMSDictamen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SMSNoProcede</name>
        <label>SMSNoProcede</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <stringValue>00152</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <elementReference>InicialSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>SMSDictamen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Logic</name>
        <label>Logic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>NewOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informar folio y despedida</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dictamen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newOwnerCase</targetReference>
            </connector>
            <label>NewOwner</label>
        </rules>
        <rules>
            <name>DictamenContra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dictamen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dictamen_Cobranza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En contra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailEnContra</targetReference>
            </connector>
            <label>DictamenContra</label>
        </rules>
        <rules>
            <name>DictamenFavor</name>
            <conditionLogic>(1 AND 2 AND 6) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dictamen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dictamen_Cobranza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A favor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restitución de línea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bonificación de la renegociación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No reconoce la renegociación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAFavor</targetReference>
            </connector>
            <label>DictamenFavor</label>
        </rules>
        <rules>
            <name>NoProcede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dictamen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dictamen_Cobranza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No procede</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailNoProcede</targetReference>
            </connector>
            <label>NoProcede</label>
        </rules>
        <rules>
            <name>DictamenFavor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conclusión del Caso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aplicación de la renegociación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAFavor2</targetReference>
            </connector>
            <label>DictamenFavor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_Option</name>
        <label>RecordType Option</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renegociacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Categor_a__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobranza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subcategor_a_Texto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renegociación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Logic</targetReference>
            </connector>
            <label>Renegociación</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SMSDictamen</name>
        <dataType>String</dataType>
        <expression>&quot;a aclaración &quot; &amp; $Record.CaseNumber &amp; &quot; de tu Tarjeta Falabella, ha sido concluida &quot; &amp; TEXT($Record.Dictamen_Cobranza__c ) &amp; &quot;. Si tienes dudas, escríbenos por whatsapp al 5550894262 y con gusto te atenderemos&quot;</expression>
    </formulas>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Router Logic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordType_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Categor_a__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobranza</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>newOwnerCase</name>
        <label>newOwnerCase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Update_Case_Owner</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NewOwnerEmail</name>
            <value>
                <stringValue>patbriseno@falabella.com.mx</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Letra inicial del sms que solicita el api de sms</description>
        <name>InicialSMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>L</stringValue>
        </value>
    </variables>
</Flow>
