force-app/main/default/flows/Cliente_No_Cuenta_con_Correo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Cliente_no_cuenta_con_Correo</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Correo</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Cliente_no_cuenta_con_Correo</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Cliente_no_cuenta_con_Correo</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Correo</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(

AND(

ISCHANGED([Case].Status ),

ISPICKVAL([Case].Status ,&quot;Documentación requerida&quot;),
ISBLANK([Case].ContactEmail),
[Case].RecordType.Name  = &quot;Cargo no reconocido&quot;),

AND(

ISCHANGED([Case].Status ),

ISPICKVAL([Case].Status ,&quot;Documentación requerida&quot;),
ISBLANK([Case].ContactEmail),
[Case].RecordType.Name  = &quot;Desconoce transacción en ATM&quot;),
AND(

ISCHANGED([Case].Status ),

ISPICKVAL([Case].Status ,&quot;Documentación requerida&quot;),
ISBLANK([Case].ContactEmail),
[Case].RecordType.Name  = &quot;Retiro de efectivo en ATM&quot;


)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(

AND(

ISCHANGED({!myVariable_current.Status} ),

ISPICKVAL({!myVariable_current.Status} ,&quot;Documentación requerida&quot;),
ISBLANK({!myVariable_current.ContactEmail}),
{!myVariable_current.RecordType.Name}  = &quot;Cargo no reconocido&quot;),

AND(

ISCHANGED({!myVariable_current.Status} ),

ISPICKVAL({!myVariable_current.Status} ,&quot;Documentación requerida&quot;),
ISBLANK({!myVariable_current.ContactEmail}),
{!myVariable_current.RecordType.Name}  = &quot;Desconoce transacción en ATM&quot;),
AND(

ISCHANGED({!myVariable_current.Status} ),

ISPICKVAL({!myVariable_current.Status} ,&quot;Documentación requerida&quot;),
ISBLANK({!myVariable_current.ContactEmail}),
{!myVariable_current.RecordType.Name}  = &quot;Retiro de efectivo en ATM&quot;


)
)</expression>
    </formulas>
    <interviewLabel>Cliente_No_Cuenta_con_Correo-2_InterviewLabel</interviewLabel>
    <label>Cliente No Cuenta con Correo</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
