force-app/main/default/flows/Fecha_estimada_de_cierre_15_minutos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONDUSEF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Clientes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Módulo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>NO CONDUSEF NO PORTAL</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDUSEF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>CASOS CONDUSEF</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Módulo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clientes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>CASOS PORTAL RECLAMOS</label>
        </rules>
    </decisions>
    <description>Reclamos Fase ii</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].RecordType.Name,
&quot;Consulta de Saldos y Movimientos&quot;,[Case].CreatedDate+(20/1440),
&quot;Activación de Tarjeta&quot;,[Case].CreatedDate+(30/1440),
&quot;Actualización Nom, RFC, FN&quot;,[Case].CreatedDate+10,
&quot;Actualización de Celular&quot;,[Case].CreatedDate+(35/1440),
&quot;Actualización de Correo&quot;,[Case].CreatedDate+(20/1440),
&quot;Actualización de Domicilio&quot;, [Case].CreatedDate+3+(20/1440),
&quot;Actualización de Teléfono Fijo&quot;,[Case].CreatedDate+(15/1440),
&quot;Aumento de Línea de Crédito&quot;,[Case].CreatedDate+1,
&quot;Cambio de Medio Envío&quot;,[Case].CreatedDate+5,
&quot;Cambio de MC a Privada&quot;,[Case].CreatedDate+16 +(25/1440),
&quot;Cancelación Adicional&quot;,[Case].CreatedDate+5,
&quot;Cancelación de Titular&quot;,[Case].CreatedDate+20,
&quot;Cargo no reconocido&quot;,[Case].CreatedDate+45,
&quot;Compra no diferida&quot;,[Case].CreatedDate+14,
&quot;Desbloqueo de PIN&quot;,[Case].CreatedDate+(20/1440),
&quot;Desconoce transacción en ATM&quot;,[Case].CreatedDate+30,
&quot;Estado de Cuenta No Llega&quot;,[Case].CreatedDate+30,
&quot;Información de Promociones&quot;,[Case].CreatedDate+(20/1440),
&quot;Liberación de Compra Diferida&quot;, [Case].CreatedDate+(20/1440),
&quot;Liberar saldo retenido&quot;,[Case].CreatedDate+14,
&quot;Operaciones del cliente&quot;,[Case].CreatedDate+(20/1440),
&quot;Promoción no Aplicada&quot;,[Case].CreatedDate+14,
&quot;Quejas y Sugerencias&quot;,[Case].CreatedDate+(30/1440),
&quot;Reenvío de Estado de Cuenta&quot;, [Case].CreatedDate+(15/1440),
&quot;Reporte por Deterioro&quot;,[Case].CreatedDate+(35/1440),
&quot;Reporte por Retención Cajero&quot;,[Case].CreatedDate+(50/1440),
&quot;Reporte por Robo o Extravío&quot;,[Case].CreatedDate+(50/1440),
&quot;Retiro de efectivo en ATM&quot;,[Case].CreatedDate+30,
&quot;Tarjeta de Crédito&quot;,[Case].CreatedDate+(20/1440), 
&quot;Pago No Aplicado&quot;,[Case].CreatedDate+14,
&quot;Sospecha de Fraudes&quot;,[Case].CreatedDate+(20/1440),
&quot;Seguimiento a Folios&quot;,[Case].CreatedDate+(20/1440), 
&quot;APP&quot;,[Case].CreatedDate+15+(30/1440),
&quot;WEB&quot;,[Case].CreatedDate+5+(30/1440),
&quot;Up Grade&quot;,[Case].CreatedDate+4,
&quot;Retención de Titular&quot;,[Case].CreatedDate+5,
&quot;Quita&quot;,[Case].CreatedDate+6,
&quot;Condonación&quot;,[Case].CreatedDate+2,
&quot;Reestructura&quot;,[Case].CreatedDate+2,
&quot;Reversa de Anualidad&quot;,[Case].CreatedDate+14,
&quot;Reversa de Comisión&quot;,[Case].CreatedDate+14,
&quot;Actualización de CURP&quot;,[Case].CreatedDate+10,
&quot;Campañas Outbound&quot;,[Case].CreatedDate+1,
&quot;Audiencia CONDUSEF&quot;,[Case].CreatedDate+19,
&quot;Cancelación de Tarjeta por Fallecimiento&quot;,[Case].CreatedDate+30,
&quot;Cliente en Mora&quot;, [Case].CreatedDate+1,
&quot;Consulta de Seguros&quot;,[Case].CreatedDate+1,
&quot;REDECO&quot;,[Case].CreatedDate+8,
&quot;Audiencia CONDUSEF&quot;, [Case].CreatedDate+15,
&quot;Abono de Puntos&quot;,[Case].CreatedDate+14,
&quot;Actualización SORIBAN&quot;,[Case].CreatedDate+14,
&quot;Cobro a Persona Equivocada&quot;, [Case].CreatedDate + 9,
&quot;Procedimiento de Cobro&quot;, [Case].CreatedDate + 7,
&quot;Actualización Buró&quot;,[Case].CreatedDate+14,
&quot;Carta Finiquito&quot;,[Case].CreatedDate + 30,
&quot;Retorno de Tarjeta&quot;,[Case].CreatedDate + 14,
&quot;Plan de Pagos&quot;,[Case].CreatedDate + 35,
&quot;CVV Dinámico&quot;,[Case].CreatedDate+(20/1440),
&quot;Activación de NIP&quot;,[Case].CreatedDate+(20/1440),
&quot;Emboce Centralizado&quot;,[Case].CreatedDate+25,
&quot;QR&quot;,[Case].CreatedDate+(20/1440),
&quot;Reposición&quot;,[Case].CreatedDate+(20/1440),
&quot;Remisión&quot;,[Case].CreatedDate+(20/1440),
NULL)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_9494980010</name>
        <dataType>DateTime</dataType>
        <expression>CASE({!myVariable_current.RecordType.Name},
&quot;Consulta de Saldos y Movimientos&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Activación de Tarjeta&quot;,{!myVariable_current.CreatedDate}+(30/1440),
&quot;Actualización Nom, RFC, FN&quot;,{!myVariable_current.CreatedDate}+10,
&quot;Actualización de Celular&quot;,{!myVariable_current.CreatedDate}+(35/1440),
&quot;Actualización de Correo&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Actualización de Domicilio&quot;, {!myVariable_current.CreatedDate}+3+(20/1440),
&quot;Actualización de Teléfono Fijo&quot;,{!myVariable_current.CreatedDate}+(15/1440),
&quot;Aumento de Línea de Crédito&quot;,{!myVariable_current.CreatedDate}+1,
&quot;Cambio de Medio Envío&quot;,{!myVariable_current.CreatedDate}+5,
&quot;Cambio de MC a Privada&quot;,{!myVariable_current.CreatedDate}+16 +(25/1440),
&quot;Cancelación Adicional&quot;,{!myVariable_current.CreatedDate}+5,
&quot;Cancelación de Titular&quot;,{!myVariable_current.CreatedDate}+20,
&quot;Cargo no reconocido&quot;,{!myVariable_current.CreatedDate}+45,
&quot;Compra no diferida&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Desbloqueo de PIN&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Desconoce transacción en ATM&quot;,{!myVariable_current.CreatedDate}+30,
&quot;Estado de Cuenta No Llega&quot;,{!myVariable_current.CreatedDate}+30,
&quot;Información de Promociones&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Liberación de Compra Diferida&quot;, {!myVariable_current.CreatedDate}+(20/1440),
&quot;Liberar saldo retenido&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Operaciones del cliente&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Promoción no Aplicada&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Quejas y Sugerencias&quot;,{!myVariable_current.CreatedDate}+(30/1440),
&quot;Reenvío de Estado de Cuenta&quot;, {!myVariable_current.CreatedDate}+(15/1440),
&quot;Reporte por Deterioro&quot;,{!myVariable_current.CreatedDate}+(35/1440),
&quot;Reporte por Retención Cajero&quot;,{!myVariable_current.CreatedDate}+(50/1440),
&quot;Reporte por Robo o Extravío&quot;,{!myVariable_current.CreatedDate}+(50/1440),
&quot;Retiro de efectivo en ATM&quot;,{!myVariable_current.CreatedDate}+30,
&quot;Tarjeta de Crédito&quot;,{!myVariable_current.CreatedDate}+(20/1440), 
&quot;Pago No Aplicado&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Sospecha de Fraudes&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Seguimiento a Folios&quot;,{!myVariable_current.CreatedDate}+(20/1440), 
&quot;APP&quot;,{!myVariable_current.CreatedDate}+15+(30/1440),
&quot;WEB&quot;,{!myVariable_current.CreatedDate}+5+(30/1440),
&quot;Up Grade&quot;,{!myVariable_current.CreatedDate}+4,
&quot;Retención de Titular&quot;,{!myVariable_current.CreatedDate}+5,
&quot;Quita&quot;,{!myVariable_current.CreatedDate}+6,
&quot;Condonación&quot;,{!myVariable_current.CreatedDate}+2,
&quot;Reestructura&quot;,{!myVariable_current.CreatedDate}+2,
&quot;Reversa de Anualidad&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Reversa de Comisión&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Actualización de CURP&quot;,{!myVariable_current.CreatedDate}+10,
&quot;Campañas Outbound&quot;,{!myVariable_current.CreatedDate}+1,
&quot;Audiencia CONDUSEF&quot;,{!myVariable_current.CreatedDate}+19,
&quot;Cancelación de Tarjeta por Fallecimiento&quot;,{!myVariable_current.CreatedDate}+30,
&quot;Cliente en Mora&quot;, {!myVariable_current.CreatedDate}+1,
&quot;Consulta de Seguros&quot;,{!myVariable_current.CreatedDate}+1,
&quot;REDECO&quot;,{!myVariable_current.CreatedDate}+8,
&quot;Audiencia CONDUSEF&quot;, {!myVariable_current.CreatedDate}+15,
&quot;Abono de Puntos&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Actualización SORIBAN&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Cobro a Persona Equivocada&quot;, {!myVariable_current.CreatedDate} + 9,
&quot;Procedimiento de Cobro&quot;, {!myVariable_current.CreatedDate} + 7,
&quot;Actualización Buró&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Carta Finiquito&quot;,{!myVariable_current.CreatedDate} + 30,
&quot;Retorno de Tarjeta&quot;,{!myVariable_current.CreatedDate} + 14,
&quot;Plan de Pagos&quot;,{!myVariable_current.CreatedDate} + 35,
&quot;CVV Dinámico&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Activación de NIP&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Emboce Centralizado&quot;,{!myVariable_current.CreatedDate}+25,
&quot;QR&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Reposición&quot;,{!myVariable_current.CreatedDate}+(20/1440),
&quot;Remisión&quot;,{!myVariable_current.CreatedDate}+(20/1440),
NULL)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( [Case].RecordType.Name,
&quot;Retiro de efectivo en ATM&quot;, [Case].CreatedDate + 16,
&quot;Desconoce transacción en ATM&quot;, [Case].CreatedDate + 16,
&quot;Audiencia CONDUSEF&quot;,[Case].CreatedDate+19,
&quot;Cargo no reconocido&quot;, [Case].CreatedDate + 16,
&quot;Pago No Aplicado&quot;, [Case].CreatedDate + 14, 
&quot;Actualización de CURP&quot;,[Case].CreatedDate+10, 
&quot;Cancelación de Titular&quot;,[Case].CreatedDate+20,
&quot;Pago No Aplicado (Módulo)&quot;, [Case].CreatedDate+14,
&quot;Plan de Pagos&quot;,[Case].CreatedDate + 20,
&quot;Cobro a Persona Equivocada&quot;, [Case].CreatedDate + 20,
&quot;Mal proceso de cobro&quot;, [Case].CreatedDate + 20,
null)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_7742751948</name>
        <dataType>DateTime</dataType>
        <expression>CASE( {!myVariable_current.RecordType.Name},
&quot;Retiro de efectivo en ATM&quot;, {!myVariable_current.CreatedDate} + 16,
&quot;Desconoce transacción en ATM&quot;, {!myVariable_current.CreatedDate} + 16,
&quot;Audiencia CONDUSEF&quot;,{!myVariable_current.CreatedDate}+19,
&quot;Cargo no reconocido&quot;, {!myVariable_current.CreatedDate} + 16,
&quot;Pago No Aplicado&quot;, {!myVariable_current.CreatedDate} + 14, 
&quot;Actualización de CURP&quot;,{!myVariable_current.CreatedDate}+10, 
&quot;Cancelación de Titular&quot;,{!myVariable_current.CreatedDate}+20,
&quot;Pago No Aplicado (Módulo)&quot;, {!myVariable_current.CreatedDate}+14,
&quot;Plan de Pagos&quot;,{!myVariable_current.CreatedDate} + 20,
&quot;Cobro a Persona Equivocada&quot;, {!myVariable_current.CreatedDate} + 20,
&quot;Mal proceso de cobro&quot;, {!myVariable_current.CreatedDate} + 20,
null)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( [Case].RecordType.Name,
&quot;Actualización Domicilio (Módulo)&quot;, [Case].CreatedDate+(35/1440),
&quot;Actualización Correo (Módulo)&quot;, [Case].CreatedDate+(20/1440),
&quot;Cancelación por fallecimiento del titular (Módulo)&quot;, [Case].CreatedDate+30,
&quot;Cancelación de Adicional (Módulo)&quot;, [Case].CreatedDate+5,
&quot;Cargo No Reconocido (Módulo)&quot;, [Case].CreatedDate+45,
&quot;Liberar Saldo Retenido (Módulo)&quot;, [Case].CreatedDate+14,
&quot;Desconoce transacción en ATM (Módulo)&quot;, [Case].CreatedDate+30,
&quot;Retiro de Efectivo en ATM (Módulo)&quot;, [Case].CreatedDate+30,
&quot;Pago No Aplicado (Módulo)&quot;, [Case].CreatedDate+14,
&quot;Quejas y/o Sugerencias (Módulo)&quot;, [Case].CreatedDate+(20/1440),
&quot;Operaciones del Cliente (Módulo)&quot;, [Case].CreatedDate+1,
&quot;Sospecha de fraudes (Módulo)&quot;, [Case].CreatedDate+(20/1440), 
&quot;Promoción no Aplicada (Módulo)&quot;, [Case].CreatedDate+14,
&quot;Abono de Puntos (Módulo)&quot;, [Case].CreatedDate+14,
&quot;Reversa de Comisión (Módulo)&quot;,[Case].CreatedDate+14,
&quot;Compra no diferida (Módulo)&quot;, [Case].CreatedDate+14,
&quot;Actualización de CURP&quot;,[Case].CreatedDate+10,
&quot;Cancelación de Titular&quot;,[Case].CreatedDate+20,
&quot;Pago No Aplicado&quot;, [Case].CreatedDate+14,
NULL)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_1186098914</name>
        <dataType>DateTime</dataType>
        <expression>CASE( {!myVariable_current.RecordType.Name},
&quot;Actualización Domicilio (Módulo)&quot;, {!myVariable_current.CreatedDate}+(35/1440),
&quot;Actualización Correo (Módulo)&quot;, {!myVariable_current.CreatedDate}+(20/1440),
&quot;Cancelación por fallecimiento del titular (Módulo)&quot;, {!myVariable_current.CreatedDate}+30,
&quot;Cancelación de Adicional (Módulo)&quot;, {!myVariable_current.CreatedDate}+5,
&quot;Cargo No Reconocido (Módulo)&quot;, {!myVariable_current.CreatedDate}+45,
&quot;Liberar Saldo Retenido (Módulo)&quot;, {!myVariable_current.CreatedDate}+14,
&quot;Desconoce transacción en ATM (Módulo)&quot;, {!myVariable_current.CreatedDate}+30,
&quot;Retiro de Efectivo en ATM (Módulo)&quot;, {!myVariable_current.CreatedDate}+30,
&quot;Pago No Aplicado (Módulo)&quot;, {!myVariable_current.CreatedDate}+14,
&quot;Quejas y/o Sugerencias (Módulo)&quot;, {!myVariable_current.CreatedDate}+(20/1440),
&quot;Operaciones del Cliente (Módulo)&quot;, {!myVariable_current.CreatedDate}+1,
&quot;Sospecha de fraudes (Módulo)&quot;, {!myVariable_current.CreatedDate}+(20/1440), 
&quot;Promoción no Aplicada (Módulo)&quot;, {!myVariable_current.CreatedDate}+14,
&quot;Abono de Puntos (Módulo)&quot;, {!myVariable_current.CreatedDate}+14,
&quot;Reversa de Comisión (Módulo)&quot;,{!myVariable_current.CreatedDate}+14,
&quot;Compra no diferida (Módulo)&quot;, {!myVariable_current.CreatedDate}+14,
&quot;Actualización de CURP&quot;,{!myVariable_current.CreatedDate}+10,
&quot;Cancelación de Titular&quot;,{!myVariable_current.CreatedDate}+20,
&quot;Pago No Aplicado&quot;, {!myVariable_current.CreatedDate}+14,
NULL)</expression>
    </formulas>
    <interviewLabel>Fecha_estimada_de_cierre_15_minutos-79_InterviewLabel</interviewLabel>
    <label>Fecha estimada de cierre</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Fecha estimada de cierre</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Fecha estimada de cierre</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Fecha_estimada_de_cierre__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_9494980010</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Fecha estimada de cierre CONDUSEF</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Fecha estimada de cierre</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Fecha_estimada_de_cierre__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_7742751948</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Fecha estimada de cierre PORTAL RECLAMOS</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Fecha estimada de cierre</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Fecha_estimada_de_cierre__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_1186098914</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
