force-app/main/default/flows/Flujo_casos_soporte_a_modulo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_correo</name>
        <label>Alerta correo</label>
        <locationX>1326</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Asignacion_de_caso</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Enconttr_notificacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Asignacion_de_caso</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Buscar_cola</name>
        <label>Buscar cola</label>
        <locationX>1678</locationX>
        <locationY>647</locationY>
        <actionName>FetchUsuarioCola</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>si_f3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nombreCola</name>
            <value>
                <stringValue>Canales</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FetchUsuarioCola</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_new_owner_1</name>
        <label>Get new owner 1</label>
        <locationX>2470</locationX>
        <locationY>647</locationY>
        <actionName>FetchUsuarioCola</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Encontre_nuevo_owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nombreCola</name>
            <value>
                <stringValue>Aclaraciones</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FetchUsuarioCola</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notificar_asignacion_de_caso</name>
        <label>Notificar asignacion de caso</label>
        <locationX>1194</locationX>
        <locationY>1595</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Asignación de Caso: {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notificar_asignacion_de_caso_1</name>
        <label>Notificar_asignacion_de_caso_1</label>
        <locationX>2074</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NewOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Asignación de Caso: {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignacion_1</name>
        <label>Asignacion 1</label>
        <locationX>2074</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>NewOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_asignacion_de_caso_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newOwner</name>
        <label>newOwner</label>
        <locationX>1194</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_asignacion_de_caso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asignacion</name>
        <label>Asignacion</label>
        <locationX>1326</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_new_owner_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Equipo de aclaraciones</defaultConnectorLabel>
        <rules>
            <name>Carlos_Ipi_a</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reporte de incidencias Técnicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reporte de incidencias Sistemas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Remplazo de Celular (Zonal/Regional)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Remplazo de Laptop (Zonal/Regional)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Usuario</targetReference>
            </connector>
            <label>Carlos Ipiña</label>
        </rules>
        <rules>
            <name>Cristian_Salazar</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Remplazo de Tablet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Huellero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Carcasa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Usuario_Cristian</targetReference>
            </connector>
            <label>Cristian Salazar</label>
        </rules>
        <rules>
            <name>Diana_Cortes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitar instalación aplicación de escritorio - CMRMX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Buscar_Usuario</targetReference>
            </connector>
            <label>Diana Cortes</label>
        </rules>
        <rules>
            <name>Equipo_de_canales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Cables de corriente (tablet)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Adaptadores (tablet)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otros insumos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Adaptadores</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Cargadores tablets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipos dañados Cables varios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reporte de falta de publicidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitud de tablets nuevas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmación de recepción de tablet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Envío de responsivas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Movimiento de tablet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitud de alta de sucursales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cierre de módulos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evidencia material Publicidad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_cola</targetReference>
            </connector>
            <label>Equipo de canales</label>
        </rules>
        <rules>
            <name>Equipo_BO_Fraudes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INE falsa - Alerta rostros nuevos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INE falsa - Rostro detectado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alerta posible fraude</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Equipo BO/Fraudes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caso_de_tipo_soporte_a_modulo</name>
        <label>Caso de tipo soporte a modulo</label>
        <locationX>2096</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Caso_de_soporte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soporte_a_m_dulo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_notification</targetReference>
            </connector>
            <label>Caso de soporte</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Se_encontro_usuario</name>
        <label>Copy 1 of Se encontro usuario</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Alerta_correo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Buscar_Usuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Actualizar_owner</targetReference>
            </connector>
            <label>Copy 1 of si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontre_nuevo_owner</name>
        <label>Encontre nuevo owner</label>
        <locationX>2470</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SI2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_new_owner_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_owner</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enconttr_notificacion</name>
        <label>Enconttr notificacion</label>
        <locationX>1326</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notificacion_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_notification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newOwner</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_usuario</name>
        <label>Se encontro usuario</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Usuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_owner</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_usuario_Cristian</name>
        <label>Se encontro usuario Cristian</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_f2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Usuario_Cristian</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Actualizar_owner</targetReference>
            </connector>
            <label>si f2</label>
        </rules>
    </decisions>
    <decisions>
        <name>si_f3</name>
        <label>si f3</label>
        <locationX>1678</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_cola</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_new_owner</targetReference>
            </connector>
            <label>Copy 3 of Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flujo casos soporte a modulo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo casos soporte a modulo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Usuario</name>
        <label>Buscar Usuario</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>caipinab@falabella.com.mx</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Usuario_Cristian</name>
        <label>Buscar Usuario Cristian</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_usuario_Cristian</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cosalazarv@falabella.com.mx</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Buscar_Usuario</name>
        <label>Copy 1 of Buscar Usuario</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Se_encontro_usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cosalazarv@falabella.com.mx</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notification</name>
        <label>Get notification</label>
        <locationX>1326</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asignacion_de_Caso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>2074</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BackOffice Credito/Fraudes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_owner</name>
        <label>Actualizar owner</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Alerta_correo</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Buscar_Usuario.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_new_owner</name>
        <label>Assign new owner</label>
        <locationX>2338</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Alerta_correo</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_new_owner_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Actualizar_owner</name>
        <label>Copy 1 of Actualizar owner</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Alerta_correo</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Buscar_Usuario.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Actualizar_owner</name>
        <label>Copy 2 of Actualizar owner</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Alerta_correo</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Buscar_Usuario_Cristian.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Assign_new_owner</name>
        <label>Copy 2 of Assign new owner</label>
        <locationX>1546</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Alerta_correo</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Buscar_cola</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_owner</name>
        <label>update owner</label>
        <locationX>2074</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Asignacion_1</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1970</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Caso_de_tipo_soporte_a_modulo</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dictamen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Clasificaci_n_Medio_de_env_o_no_llega__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Se escala a un segundo nivel</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
