force-app/main/default/flows/IncidenciaApp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getUserAvailable</name>
        <label>getUserAvailable</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>FetchUsuarioCola</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateRecordSoporteInterno</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nombreCola</name>
            <value>
                <stringValue>Soporte Interno</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FetchUsuarioCola</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notificar_asignacion_de_caso</name>
        <label>Notificar asignacion de caso</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>{!Get_notification.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Asignación de Caso: {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>newOwner</name>
        <label>newOwner</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_asignacion_de_caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newOwner_Aux</name>
        <label>newOwner Aux</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_asignacion_de_caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newOwnerSoporteInterno</name>
        <label>newOwnerSoporteInterno</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_asignacion_de_caso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>assignQueue</name>
        <label>assignQueue</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>newOwner_Aux</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asignar_cola_trabajo_soporte</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activar clave dinámica (NIP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>App no muestra tarjeta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error al crear clave de internet nueva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error al enrolarse cliente nuevo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error en pago de servicios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error en recarga de T.A.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error en visualización de EECC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error inesperado en Clave dinámica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error inesperado en CVV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error inesperado en EDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error inesperado en notificaciones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error inesperado en QR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Información duplicada en la App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No recibe usuario (sms)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No se reflejan puntos ni D.E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usuario bloqueado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueue</targetReference>
            </connector>
            <label>Equipo trabajo soporte</label>
        </rules>
        <rules>
            <name>Equipo_Soporte_Interno</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eliminar usuario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incidencia_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitud eliminar celular/correo duplicado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUserAvailable</targetReference>
            </connector>
            <label>Equipo Soporte Interno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_notification</targetReference>
            </connector>
            <label>Incidencias App</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IncidenciaApp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IncidenciaApp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_notification</name>
        <label>Get notification</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asignacion_de_Caso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueue</name>
        <label>getQueue</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Soporte sistemas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>newOwner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Diagnóstico Soporte Digital</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecordSoporteInterno</name>
        <label>updateRecordSoporteInterno</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>newOwnerSoporteInterno</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUserAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Diagnóstico Soporte Digital</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
