force-app/main/default/flows/MAIL_Cierre_de_Caso_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Cierre_de_Caso_RetencionBonificacion</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>MAIL Cierre de Caso Retención Bonificación</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Cierre_de_Caso_RetencionBonificacion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Cierre_de_Caso_RetencionBonificacion</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Cierre_de_Caso_General</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>MAIL Cierre de Caso General</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Case.Cierre_de_Caso_General</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Cierre_de_Caso_General</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Cierre_de_Caso_General</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>MAIL Cierre de Caso Cancelación</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <actionName>Case.Cierre_de_Caso_General</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_6_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Cierre_de_Caso_General</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Cierre de caso MAIL</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Cierre de Caso Retención Bonificación</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Cierre de Caso Cancelación</label>
        </rules>
    </decisions>
    <description>Ajustes Cancelación Titular, Ajuste CONDUSEF, Ajuste Cancelado - Cambio de producto, Aumento de Línea de crédito, Cancelación de titular, Cancelación de Adicional, Liberar saldo retenido</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_11_A2_1104732118</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_11_A2_8678268960</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].ContactEmail </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_11_A2_8144535867</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ContactEmail}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_3471473711</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_2381237803</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].ContactEmail </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_0181488122</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ContactEmail}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A2_8106013497</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_6_A2_6831677729</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].ContactEmail </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_6_A2_8731427548</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ContactEmail}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Case].Status ),

ISPICKVAL([Case].Status,&quot;Cerrado&quot;),

NOT(ISBLANK([Case].ContactId )),


NOT(ISBLANK([Case].ContactEmail )),

OR (
[Case].RecordType.Name = &quot;Cambio de MC a Privada&quot;,
[Case].RecordType.Name = &quot;Aumento de Línea de Crédito&quot;,
[Case].RecordType.Name = &quot;Cancelación Adicional&quot;,
[Case].RecordType.Name = &quot;Liberar saldo retenido&quot;,
[Case].RecordType.Name = &quot;Actualización de Teléfono Fijo&quot;,

[Case].RecordType.Name = &quot;Cancelación de Adicional (Módulo)&quot;,
[Case].RecordType.Name = &quot;Liberar Saldo Retenido (Módulo)&quot;,
[Case].RecordType.Name = &quot;Retiro de Efectivo en ATM (Módulo)&quot;,
[Case].RecordType.Name = &quot;Desconoce transacción en ATM (Módulo)&quot;,
[Case].RecordType.Name = &quot;Cargo No Reconocido (Módulo)&quot;,
[Case].RecordType.Name = &quot;Pago No Aplicado (Módulo)&quot;,
[Case].RecordType.Name = &quot;Actualización SORIBAN&quot;,
[Case].RecordType.Name = &quot;Cargo No Reconocido (Módulo)&quot;,
[Case].RecordType.Name = &quot;Quejas y/o Sugerencias (Módulo)&quot;,
[Case].RecordType.Name = &quot;Liberar Saldo Retenido (Módulo)&quot;,
[Case].RecordType.Name = &quot;Reversa de Anualidad (Módulo)&quot;,
[Case].RecordType.Name = &quot;Reversa de Comisión (Módulo)&quot;,
[Case].RecordType.Name = &quot;Estado de Cuenta No Llega (Módulo)&quot;,
[Case].RecordType.Name = &quot;Abono de Puntos (Módulo)&quot;,
[Case].RecordType.Name = &quot;Promoción no Aplicada (Módulo)&quot;,
[Case].RecordType.Name = &quot;Compra no diferida (Módulo)&quot;

),
NOT(ISPICKVAL([Case].Origin,&quot;CONDUSEF&quot;))

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.Status} ),

ISPICKVAL({!myVariable_current.Status},&quot;Cerrado&quot;),

NOT(ISBLANK({!myVariable_current.ContactId} )),


NOT(ISBLANK({!myVariable_current.ContactEmail} )),

OR (
{!myVariable_current.RecordType.Name} = &quot;Cambio de MC a Privada&quot;,
{!myVariable_current.RecordType.Name} = &quot;Aumento de Línea de Crédito&quot;,
{!myVariable_current.RecordType.Name} = &quot;Cancelación Adicional&quot;,
{!myVariable_current.RecordType.Name} = &quot;Liberar saldo retenido&quot;,
{!myVariable_current.RecordType.Name} = &quot;Actualización de Teléfono Fijo&quot;,

{!myVariable_current.RecordType.Name} = &quot;Cancelación de Adicional (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Liberar Saldo Retenido (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Retiro de Efectivo en ATM (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Desconoce transacción en ATM (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Cargo No Reconocido (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Pago No Aplicado (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Actualización SORIBAN&quot;,
{!myVariable_current.RecordType.Name} = &quot;Cargo No Reconocido (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Quejas y/o Sugerencias (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Liberar Saldo Retenido (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Reversa de Anualidad (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Reversa de Comisión (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Estado de Cuenta No Llega (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Abono de Puntos (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Promoción no Aplicada (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Compra no diferida (Módulo)&quot;

),
NOT(ISPICKVAL({!myVariable_current.Origin},&quot;CONDUSEF&quot;))

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Case].Status ),
ISPICKVAL([Case].Status,&quot;Cerrado&quot;),
NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].ContactEmail )),
[Case].RecordType.Name = &quot;Retención de Titular&quot;,

ISPICKVAL([Case].Cliente_desea_continuar_con_la_cancelac__c, &quot;No&quot;),

NOT(ISBLANK([Case].Conclusi_n_Normalizaci_n__c)),

NOT(ISPICKVAL([Case].Origin,&quot;CONDUSEF&quot;))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.Status} ),
ISPICKVAL({!myVariable_current.Status},&quot;Cerrado&quot;),
NOT(ISBLANK({!myVariable_current.ContactId} )),
NOT(ISBLANK({!myVariable_current.ContactEmail} )),
{!myVariable_current.RecordType.Name} = &quot;Retención de Titular&quot;,

ISPICKVAL({!myVariable_current.Cliente_desea_continuar_con_la_cancelac__c}, &quot;No&quot;),

NOT(ISBLANK({!myVariable_current.Conclusi_n_Normalizaci_n__c})),

NOT(ISPICKVAL({!myVariable_current.Origin},&quot;CONDUSEF&quot;))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Case].Status ),
ISPICKVAL([Case].Status,&quot;Cerrado&quot;),
NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].ContactEmail )),
[Case].RecordType.Name = &quot;Cancelación de Titular&quot;,

OR(AND(ISPICKVAL([Case].Cliente_desea_continuar_con_la_cancelac__c, &quot;Sí&quot;),
                 ISPICKVAL([Case].Cancelaci_n_de_la_cuenta__c, &quot;Sí&quot;)),
       AND(ISPICKVAL([Case].Acepta_o_no_cargos__c,	&quot;N/A&quot;), 
                 ISPICKVAL([Case].Saldo_IMPAGO__c,	&quot;No&quot;))),

NOT(ISPICKVAL([Case].Origin,&quot;CONDUSEF&quot;))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.Status} ),
ISPICKVAL({!myVariable_current.Status},&quot;Cerrado&quot;),
NOT(ISBLANK({!myVariable_current.ContactId} )),
NOT(ISBLANK({!myVariable_current.ContactEmail} )),
{!myVariable_current.RecordType.Name} = &quot;Cancelación de Titular&quot;,

OR(AND(ISPICKVAL({!myVariable_current.Cliente_desea_continuar_con_la_cancelac__c}, &quot;Sí&quot;),
                 ISPICKVAL({!myVariable_current.Cancelaci_n_de_la_cuenta__c}, &quot;Sí&quot;)),
       AND(ISPICKVAL({!myVariable_current.Acepta_o_no_cargos__c},	&quot;N/A&quot;), 
                 ISPICKVAL({!myVariable_current.Saldo_IMPAGO__c},	&quot;No&quot;))),

NOT(ISPICKVAL({!myVariable_current.Origin},&quot;CONDUSEF&quot;))
)</expression>
    </formulas>
    <interviewLabel>MAIL_Cierre_de_Caso_General-13_InterviewLabel</interviewLabel>
    <label>MAIL Cierre de Caso General</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_11_A2</name>
        <label>Mail: Cierre de Caso Retención Bonificación</label>
        <locationX>1100</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Fecha del mensaje</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>MessageDate</field>
            <value>
                <elementReference>formula_12_myRule_11_A2_1104732118</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id. del caso</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>formula_13_myRule_11_A2_8678268960</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Estado</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Asunto</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>MAIL Cierre de Caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cuerpo del texto</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>TextBody</field>
            <value>
                <stringValue>Apreciable -,  Se te ha realizado satisfactoriamente la-,  - Su numero de folio es-,  -.En caso de tener dudas, favor de comunicarse al 01-800-767-4262 / 55-5089-4262.  Falabella Soriana agradece su preferencia.  Servicios Financieros Soriana S.A.P.I de C.V. SOFOM E.N.R.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Dirección Para</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>formula_14_myRule_11_A2_8144535867</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Mail: Cierre de Caso</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Message Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>MessageDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_3471473711</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_2381237803</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>MAIL Cierre de Caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>TextBody</field>
            <value>
                <stringValue> Apreciable -,  Su caso con número de folio-,  - ha sido concluido satisfactoriamente.  En caso de tener dudas, favor de comunicarse al 01-800-767-4262 / 55-5089-4262.  Falabella Soriana agradece su preferencia.  Servicios Financieros Soriana S.A.P.I de C.V. SOFOM E.N.R.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_0181488122</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_6_A2</name>
        <label>Mail: Cierre de Caso Cancelación</label>
        <locationX>600</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Fecha del mensaje</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>MessageDate</field>
            <value>
                <elementReference>formula_7_myRule_6_A2_8106013497</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id. del caso</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>formula_8_myRule_6_A2_6831677729</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Estado</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Asunto</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>MAIL Cierre de Caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cuerpo del texto</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>TextBody</field>
            <value>
                <stringValue> Apreciable -,  Su caso con número de folio-,  - ha sido concluido satisfactoriamente.  En caso de tener dudas, favor de comunicarse al 01-800-767-4262 / 55-5089-4262.  Falabella Soriana agradece su preferencia.  Servicios Financieros Soriana S.A.P.I de C.V. SOFOM E.N.R.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Dirección Para</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>formula_9_myRule_6_A2_8731427548</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
