force-app/main/default/flows/MAIL_Cierre_de_caso_En_contra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Cierre_de_Caso_Dictamen_En_contra</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>MAIL Cierre de Caso Dictamen En contra</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Case.Cierre_de_Caso_Dictamen_En_contra</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Cierre_de_Caso_Dictamen_En_contra</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Cierre de caso MAIL</label>
        </rules>
    </decisions>
    <description>Ajuste Cancelado - Cargo no reconocido, Desconoce transacciónen ATM, Retiro de efectivo en ATM, Pago no aplicado, Promoción  no aplicada, Compra no diferida, Reversa de comisión, Reversa de anualidad</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_2742386934</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_8949320514</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].ContactEmail </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_8765022403</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.ContactEmail}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Case].Status ),

ISPICKVAL([Case].Status,&quot;Cerrado&quot;),

NOT(ISBLANK([Case].ContactId )),


NOT(ISBLANK([Case].ContactEmail )),

OR(
ISPICKVAL([Case].Dictamen__c , &quot;En contra&quot;),
ISPICKVAL([Case].Dictamen_Fraudes__c, &quot;En Contra&quot;)),

OR (
[Case].RecordType.Name = &quot;Cargo no reconocido&quot;,
[Case].RecordType.Name = &quot;Desconoce transacción en ATM&quot;,
[Case].RecordType.Name = &quot;Retiro de efectivo en ATM&quot;,
[Case].RecordType.Name = &quot;Pago No Aplicado&quot;,
[Case].RecordType.Name = &quot;Promoción no Aplicada&quot;,
[Case].RecordType.Name = &quot;Reversa de Anualidad&quot;,
[Case].RecordType.Name = &quot;Reversa de Comisión&quot;,
[Case].RecordType.Name = &quot;Cancelación por fallecimiento del titular (Módulo)&quot;,
[Case].RecordType.Name = &quot;Cargo No Reconocido (Módulo)&quot;,
[Case].RecordType.Name = &quot;Pago No Aplicado (Módulo)&quot;,
[Case].RecordType.Name = &quot;Desconoce transacción en ATM (Módulo)&quot;)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.Status} ),

ISPICKVAL({!myVariable_current.Status},&quot;Cerrado&quot;),

NOT(ISBLANK({!myVariable_current.ContactId} )),


NOT(ISBLANK({!myVariable_current.ContactEmail} )),

OR(
ISPICKVAL({!myVariable_current.Dictamen__c} , &quot;En contra&quot;),
ISPICKVAL({!myVariable_current.Dictamen_Fraudes__c}, &quot;En Contra&quot;)),

OR (
{!myVariable_current.RecordType.Name} = &quot;Cargo no reconocido&quot;,
{!myVariable_current.RecordType.Name} = &quot;Desconoce transacción en ATM&quot;,
{!myVariable_current.RecordType.Name} = &quot;Retiro de efectivo en ATM&quot;,
{!myVariable_current.RecordType.Name} = &quot;Pago No Aplicado&quot;,
{!myVariable_current.RecordType.Name} = &quot;Promoción no Aplicada&quot;,
{!myVariable_current.RecordType.Name} = &quot;Reversa de Anualidad&quot;,
{!myVariable_current.RecordType.Name} = &quot;Reversa de Comisión&quot;,
{!myVariable_current.RecordType.Name} = &quot;Cancelación por fallecimiento del titular (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Cargo No Reconocido (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Pago No Aplicado (Módulo)&quot;,
{!myVariable_current.RecordType.Name} = &quot;Desconoce transacción en ATM (Módulo)&quot;)

)</expression>
    </formulas>
    <interviewLabel>MAIL_Cierre_de_caso_En_contra-9_InterviewLabel</interviewLabel>
    <label>MAIL Cierre de caso En contra</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Mail: Cierre de Caso</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Message Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>MessageDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_2742386934</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_8949320514</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>MAIL Cierre de Caso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Text Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>TextBody</field>
            <value>
                <stringValue> Apreciable -,  Su caso con  folio-,  - se ha dictaminado en contra.  En caso de tener dudas, favor de comunicarse al 01-800-767-4262 / 55-5089-4262.  Falabella Soriana agradece su preferencia.  Servicios Financieros Soriana S.A.P.I de C.V. SOFOM E.N.R.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_8765022403</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
