force-app/main/default/flows/Movimientos_Soriana.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Get_Records_by_RecordType</name>
        <label>Get Records by RecordType</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Problema_Transacci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Fields.Categor_a__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problema Transacción</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_movimientos_problema_de_transaccion</targetReference>
            </connector>
            <label>Problema Transacción</label>
        </rules>
        <rules>
            <name>Cargo_No_reconocido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Fields.Subcategor_a_Texto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cargo no reconocido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMovimientos</targetReference>
            </connector>
            <label>Cargo No reconocido</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Movimientos Soriana {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movimientos Soriana</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_movimientos_problema_de_transaccion</name>
        <label>Get movimientos problema de transaccion</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Movimientos_Problemas_de_transaccion</targetReference>
        </connector>
        <filterLogic>2 AND  (1 OR 3 OR 4 OR  5 OR 6)</filterLogic>
        <filters>
            <field>Nombre_de_Instituci_n_Bancaria__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>soriana</stringValue>
            </value>
        </filters>
        <filters>
            <field>Caso_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nombre_de_Instituci_n_Bancaria__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>cityclub</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nombre_de_Instituci_n_Bancaria__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>city club</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nombre_de_Instituci_n_Bancaria__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SUPER EN TU CASA CYBER</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nombre_de_Instituci_n_Bancaria__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>OUTLET 7510 ESTADIO</stringValue>
            </value>
        </filters>
        <object>Movimientos__c</object>
        <outputReference>movimeintosRecordsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Formato_Aclaraciones__c</queriedFields>
        <queriedFields>Fecha_del_movimiento__c</queriedFields>
        <queriedFields>Monto__c</queriedFields>
        <queriedFields>Suma_de_Montos_de_Movimientos__c</queriedFields>
        <queriedFields>Referencia_Factura__c</queriedFields>
        <queriedFields>Nombre_de_Instituci_n_Bancaria__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>N_mero_de_Autorizaci_n__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Fields</name>
        <label>Get Record Fields</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_by_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subcategor_a_Texto__c</queriedFields>
        <queriedFields>Categor_a__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMovimientos</name>
        <label>getMovimientos</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MovimientosTable</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Caso_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Establecimiento__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>soriana</stringValue>
            </value>
        </filters>
        <filters>
            <field>Establecimiento__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>cityclub</stringValue>
            </value>
        </filters>
        <filters>
            <field>Establecimiento__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>city club</stringValue>
            </value>
        </filters>
        <filters>
            <field>Establecimiento__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>OUTLET 7510 ESTADIO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Establecimiento__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SUPER EN TU CASA CYBER</stringValue>
            </value>
        </filters>
        <object>Movimientos__c</object>
        <outputReference>movimeintosRecordsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Formato_Aclaraciones__c</queriedFields>
        <queriedFields>Fecha_del_movimiento__c</queriedFields>
        <queriedFields>Monto__c</queriedFields>
        <queriedFields>Suma_de_Montos_de_Movimientos__c</queriedFields>
        <queriedFields>Referencia_Factura__c</queriedFields>
        <queriedFields>Establecimiento__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>N_mero_de_Autorizaci_n__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Movimientos_Problemas_de_transaccion</name>
        <label>Movimientos Problemas de transaccion</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Movimientos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Movimientos__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Movimientos </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>movimeintosRecordsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Formato_Aclaraciones__c&quot;,&quot;guid&quot;:&quot;column-c846&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Formato Aclaraciones&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Fecha_del_movimiento__c&quot;,&quot;guid&quot;:&quot;column-1c3b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fecha del movimiento&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Monto__c&quot;,&quot;guid&quot;:&quot;column-dbef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Monto&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Referencia_Factura__c&quot;,&quot;guid&quot;:&quot;column-6fa7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Referencia Factura&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Suma_de_Montos_de_Movimientos__c&quot;,&quot;guid&quot;:&quot;column-780f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Suma de Montos de Movimientos&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Nombre_de_Instituci_n_Bancaria__c&quot;,&quot;guid&quot;:&quot;column-750e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Nombre de Institución Bancaria&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-0dea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;N_mero_de_Autorizaci_n__c&quot;,&quot;guid&quot;:&quot;column-ee12&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Número de Autorización&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Modificar</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MovimientosTable</name>
        <label>MovimientosTable</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Movimientos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Movimientos__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Movimientos </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>movimeintosRecordsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Formato_Aclaraciones__c&quot;,&quot;guid&quot;:&quot;column-c846&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Formato Aclaraciones&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Fecha_del_movimiento__c&quot;,&quot;guid&quot;:&quot;column-1c3b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fecha del movimiento&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Monto__c&quot;,&quot;guid&quot;:&quot;column-dbef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Monto&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Referencia_Factura__c&quot;,&quot;guid&quot;:&quot;column-6fa7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Referencia Factura&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Suma_de_Montos_de_Movimientos__c&quot;,&quot;guid&quot;:&quot;column-780f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Suma de Montos de Movimientos&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Establecimiento__c&quot;,&quot;guid&quot;:&quot;column-0d19&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Establecimiento&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-0dea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;N_mero_de_Autorizaci_n__c&quot;,&quot;guid&quot;:&quot;column-ee12&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Número de Autorización&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Modificar</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>movimeintosRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Movimientos__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{recordId}</stringValue>
        </value>
    </variables>
</Flow>
