force-app/main/default/flows/Sen_emal_SMS_Cancelacion_titular.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_email_cancelar_cuenta</name>
        <label>Copy 1 of Send email cancelar cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XRQ000003mcm62AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_SEND_SMS_Favor</name>
        <label>Copy 2 of SEND SMS Favor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_Contain_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <stringValue>00152</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <elementReference>InicioSmsAFavor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>smsTextaFavor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Envio_email_default</name>
        <label>Envio email default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XRQ000003mcm42AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContact.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_email_cancelar_cuenta</name>
        <label>Send email cancelar cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XRQ000003mcm12AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_email_Contra_No</name>
        <label>Send email Contra No</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XRQ000003mcm32AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_email_Devoluci_n_garantia</name>
        <label>Send email Devolución garantia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XRQ000003mcm52AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContact.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_email_en_contra_default</name>
        <label>Send email en contra default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicioaclientes@falabella.com.mx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XRQ000003mcm22AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>SEND_SMS_Contra</name>
        <label>SEND SMS Contra</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Envio_EMAIL_en_contra</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <elementReference>codigoArea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <elementReference>inicioSmsContra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>smsTextContra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SEND_SMS_Favor</name>
        <label>SEND SMS Favor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decisi_n_envi_EMAIL_a_favor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <elementReference>codigoArea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <elementReference>InicioSmsAFavor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>smsTextaFavor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_sms_informacionFolio_Despedida</name>
        <label>Send sms informacionFolio Despedida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MicroServicioSendNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contain_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>codigoArea</name>
            <value>
                <stringValue>00152</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curp</name>
            <value>
                <elementReference>$Record.CURPcontacto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inicio</name>
            <value>
                <stringValue>T</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mensaje</name>
            <value>
                <elementReference>MensajeInformaiconFolioydespedida</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroTelefono</name>
            <value>
                <elementReference>$Record.Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MicroServicioSendNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contain_email</name>
        <label>Contain email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_email_cancelar_cuenta</targetReference>
            </connector>
            <label>Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Contain_email</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 2 of Contain email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_en_contra_default</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 2 of Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Contain_email</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 2 of Contain email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_Contra_No</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 1 of Copy 2 of Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Contain_email</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Contain email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_2_of_Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_email_default</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 2 of Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_2_of_Contain_email</name>
        <label>Copy 1 of Copy 2 of Contain email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_2_of_Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_Devoluci_n_garantia</targetReference>
            </connector>
            <label>Copy 1 of Copy 2 of Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Contain_email</name>
        <label>Copy 2 of Contain email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_cancelar_cuenta</targetReference>
            </connector>
            <label>Copy 2 of Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decisión para enviar emial</description>
        <name>Decisi_n_envi_EMAIL_a_favor</name>
        <label>Decisión envió EMAIL a favor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Contain_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución de garantía con saldo a favor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Contain_email</targetReference>
            </connector>
            <label>Devolución Saldo A favor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dictamen</name>
        <label>Dictamen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_favor</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dictamen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A favor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución de garantía con saldo a favor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución de garantía y cancelación con saldo cero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución de garantía  y cancelación con quebranto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si - saldo mayor a $10 / anualidad, intereses, seguros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si - saldo menor a $10 /saldo a favor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEND_SMS_Favor</targetReference>
            </connector>
            <label>A favor</label>
        </rules>
        <rules>
            <name>En_contra</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dictamen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En contra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución de garantía sin cancelación por saldo deudor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Devolución de garantía  sin cancelación por saldo deudor &gt; a política</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEND_SMS_Contra</targetReference>
            </connector>
            <label>En contra</label>
        </rules>
    </decisions>
    <decisions>
        <name>Envio_EMAIL_en_contra</name>
        <label>Envio EMAIL en contra</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Contain_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sin_Devolucion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cancelaci_n_de_la_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Contain_email</targetReference>
            </connector>
            <label>Sin Devolucion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Etapas</name>
        <label>Etapas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Informacion_folio_y_despedida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informar folio y despedida</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_sms_informacionFolio_Despedida</targetReference>
            </connector>
            <label>Informacion folio y despedida</label>
        </rules>
        <rules>
            <name>Cancelar_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelar Cuenta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_SEND_SMS_Favor</targetReference>
            </connector>
            <label>Cancelar Cuenta</label>
        </rules>
        <rules>
            <name>Cancelaci_n_de_tarjeta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelación de tarjeta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dictamen</targetReference>
            </connector>
            <label>Cancelación de tarjeta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FullMessage</name>
        <dataType>String</dataType>
        <expression>{!InicioSmsAFavor}+ {!smsTextaFavor}</expression>
    </formulas>
    <formulas>
        <name>FullMessageContra</name>
        <dataType>String</dataType>
        <expression>{!inicioSmsContra} +{!smsTextContra}</expression>
    </formulas>
    <formulas>
        <name>InicioSmsAFavor</name>
        <dataType>String</dataType>
        <expression>IF(
     AND(
              ISPICKVAL({!$Record.Dictamen__c}, &apos;A favor&apos;),
              ISPICKVAL({!$Record.Cancelaci_n_de_la_cuenta__c}, &apos;Devolución de garantía con saldo a favor&apos;)
       ),  &apos;T&apos; ,&apos;L&apos;)</expression>
    </formulas>
    <formulas>
        <name>inicioSmsContra</name>
        <dataType>String</dataType>
        <expression>IF(
     AND(
              ISPICKVAL({!$Record.Dictamen__c}, &apos;En contra&apos;),
              ISPICKVAL({!$Record.Cancelaci_n_de_la_cuenta__c}, &apos;No&apos;)
       ), 
       &apos;L&apos;, &apos;T&apos;)</expression>
    </formulas>
    <formulas>
        <name>MensajeInformaiconFolioydespedida</name>
        <dataType>String</dataType>
        <expression>&apos;ramite de cancelación con folio&apos; + {!$Record.CaseNumber} +&apos; de tu tarjeta Falabella Soriana. La fecha estimada de cierre para tu caso es el &apos; +  text(DATEVALUE({!$Record.Fecha_estimada_de_cierre__c}))+&apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>smsTextaFavor</name>
        <dataType>String</dataType>
        <expression>IF(
     AND(
              ISPICKVAL({!$Record.Dictamen__c}, &apos;A favor&apos;),
              ISPICKVAL({!$Record.Cancelaci_n_de_la_cuenta__c}, &apos;Devolución de garantía con saldo a favor&apos;)
       ), 
&apos;u garantía fue devuelta. Usa el saldo a favor antes del cierre del folio &apos; + {!$Record.CaseNumber} +&apos;. La Tarjeta Falabella será cancelada el&apos; +
TEXT(TODAY()+30) , &apos;a cancelación de tu Tarjeta Falabella con folio &apos;+ {!$Record.CaseNumber} +&apos; se realizó con éxito, el día &apos;+  TEXT(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>smsTextContra</name>
        <dataType>String</dataType>
        <expression>IF(
     AND(
              ISPICKVAL({!$Record.Dictamen__c}, &apos;En contra&apos;),
              ISPICKVAL({!$Record.Cancelaci_n_de_la_cuenta__c}, &apos;No&apos;)
       ), 
       &apos;a cancelación de tu Tarjeta Falabella no procede. Por favor contáctanos para más información. Folio &apos;+  {!$Record.CaseNumber}  , &apos;u garantía fue devuelta. Liquida el saldo pendiente y contáctanos para solicitar la cancelación de tu Tarjeta Falabella. Folio &apos;+ {!$Record.CaseNumber} )</expression>
    </formulas>
    <interviewLabel>Sen emal-SMS Cancelacion titular {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send emal-SMS Cancelacion titular</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Etapas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subcategor_a_Texto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelación de Titular</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AFavorEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;Apreciable&lt;span style=&quot;font-size: 16px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!FullMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Verdana, Helvetica, sans-serif;&quot;&gt;Su número&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Verdana, Helvetica, sans-serif; font-size: large;&quot;&gt;de folio es:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(51, 166, 36); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>codigoArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00152</stringValue>
        </value>
    </variables>
</Flow>
